body {
    background: grey;
}

#window {
    background: white;
    position: absolute;
    width: 400px;
    height: 800px;
    left: 50%;
    margin-left: -200px;
}

#win {
    font-size: 30px;
    padding: 30px;
    opacity: 0;
    position: absolute;
    left:0;
    top:0;
}

#lose {
    font-size: 30px;
    padding: 30px;
    opacity: 0;
    position: absolute;
    left:0;
    top:0;
}

.unit {
    position: absolute;
    border: 1px solid lightblue;
    background: blue;
    width: 49px;
    height: 49px;
    bottom: 0%;
}
